/* Colour palette from Coolors
--eton-blue: #85baa1ff;
--aero-blue: #ceeddbff;
--cool-grey: #8b8baeff;
--skobeloff: #00635dff;
--rich-black-fogra-29: #040f16ff;
*/

.header-section {
    font-family: Oswald, sans-serif;
    display: grid;
    grid-template-columns: 55% 45%;
    background-color: #040f16ff;
    color: white;
    align-items: center;
    justify-items: end;
}

.title-section {
    
}

.nav li {
    display: grid;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 150%;
}

.active {
    color: #85baa1ff;
    font-size: 150%;
}

.nav ul {
    padding: 0px 75px 0px 75px;
    list-style-type: none;
    display: grid;
    align-content: center;
    justify-content: space-between;
    align-items: start;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

.nav li:hover {
    text-decoration: underline;
}

.main-section {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.main-section p {
    color: #040f16ff;
    background-color: #85baa1ff;
    width: 300px;
    text-align: center;
    border-radius: 50px;
}

footer {
    display: grid;
    grid-template-rows: 40% 40% 20%;
    background-color: #040f16ff;
    color: white;
}

.socials {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.socials ul {
    list-style: none;
    display: inline-block;
    color: white;
}

.socials li {
    list-style-type: none;
    display: inline-block;
    padding: 50px 75px 0px 75px;
    font-size: 150%;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 0px;
}

.socials a {
    color: white;
}

.socials a :hover {
    color: red;
}

#home-content {
    background-color: black;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column: 3;
}

button {
    background-color: white;
    border-radius: 50px;
    color: black;
    font-family:'Lato', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    width: 60%;
}

button a {
    text-decoration: none;
    color: #040f16ff;
}

#score-section {
    color: white;
}

#time-section {
    color: white;
}

.question {
    color: white;
}

.button-box {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: fit-content;
}

#middle-section {
    display: grid;
    grid-template-rows: 33% 33% 33%;
}