.title-section {
    font-family: Oswald, sans-serif;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.main-section {
    width: 33%;
    display: inline-block;
}

.socials {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.socials ul {
    list-style: none;
    display: inline-block;
}

.socials li {
    list-style-type: none;
    display: inline-block;
    padding: 50px 75px 0px 75px;
    font-size: 150%;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 0px;
}

#left-section {
    float: left;
}

#right-section {
    float: right;
}

#home-content {
    background-color: black;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column: 3;
    
}

button {
    background-color: white;
    border-radius: 10px;
    color: black;
}